---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page Not Found | Promptly Technologies, LLC" path="/404">
  <main class="flex flex-col items-center justify-center min-h-screen" id="skip">
    <h1>Not Found</h1>
    <p>
      <a href="/">Return home</a>
    </p>
  </main>
</BaseLayout>
