---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Story from '../components/Story.astro';
import Credits from '../components/Credits.astro';
import ContactForm from '../components/islands/ContactForm';
---

<BaseLayout path="/">
  <main class="flex flex-col place-items-center w-full" id="skip">
    <Hero />
    <ContactForm client:load />
    <Story />
    <Credits />
  </main>
</BaseLayout>
