---
import './Feature.css';
---

<div class="feature-container">
  <div class="feature-text">
    <p>
      <a href="https://scribert.com">Scribert</a>, your AI speech-to-text companion, transcribes your voice notes and outputs polished, formatted text. Try it free today!
    </p>
    <div>
      <a href="https://scribert.com" class="button" target="_blank" rel="noopener noreferrer">Sign up</a>
    </div>
  </div>
  <div class="feature-image">
    <img src="images/mobile-mockup2.png" alt="Mockup of Scribert app on a mobile device" />
  </div>
</div>
