---
import '../components/Feature.css';
---

<div class="feature-container">
  <div class="feature-text">
    <p>
      <a href="https://scribert.com">Scribert</a>, your AI speech-to-text companion, transcribes your voice note and outputs polished, formatted text. Sign up by March 31 with promo code 'NEWALPHAUSER' and get 100% off your first month!
    </p>
    <div>
      <a href="https://scribert.com" class="button">Sign up</a>
    </div>
  </div>
  <div class="feature-image">
    <img src="images/mobile-mockup2.png" alt="Mockup of Scribert app on a mobile device" />
  </div>
</div>

<style>
  .feature-text .button {
    display: inline-block;
    text-decoration: none;
  }
</style>
