---
import '../components/Nav.css';
---

<div class="space-x-6 inline-flex flex-wrap justify-center font-bangers">
  <a href="/#contact" class="nav-link">Contact</a>
  <a href="/#story" class="nav-link">Story</a>
  <a href="/#events" class="nav-link">Events</a>
  <a href="/#credits" class="nav-link">Credits</a>
  <a href="/store" class="nav-link">Store</a>
</div>
