---
import './SimpleNav.css';
---

<div class="mx-auto space-x-6">
  <div class="simplenavlinks">
    <a href="/" class="simplenavlink">Home</a>
    <a href="/#contact" class="simplenavlink">Contact</a>
    <a href="/#story" class="simplenavlink">Story</a>
    <a href="/#events" class="simplenavlink">Events</a>
    <a href="/#credits" class="simplenavlink">Credits</a>
    <a href="/store/" class="simplenavlink">Store</a>
    <a href="/legal/" class="simplenavlink">Privacy Policy</a>
  </div>
</div>
