---
import ThreePanelBlock from './ThreePanelBlock.astro';
import ThreePanelRow from './ThreePanelRow.astro';
import Feature from './Feature.astro';
import Events from './islands/Events';
import siteProperties from '../customizations/siteproperties.json';
import type { ComicPanelProps } from '../types/comicpanel';
---

<section class="relative flex flex-col w-full items-center" id="story">
  <div class="headercontainer">
    <h2 class="pt-12 pb-8">Our Story</h2>
  </div>

  <ThreePanelBlock
    widthClass="xl:w-3/4"
    orientation="right"
    panels={[
      {
        text: "In 2022, OpenAI released ChatGPT, making powerful AI available for pennies for anyone to use.",
        backgroundImage: 'images/SamAltman.jpg',
        altText: 'OpenAI CEO Sam Altman hanging out with poor people',
        horizontalPosition: 'left',
        verticalPosition: 'top',
      },
      {
        text: "Now we hurtle toward the future at speed. It's terrifying, but it also gives each of us the power to shape the world.",
        backgroundImage: 'images/future.jpg',
        altText: 'A person falling into a wormhole',
        horizontalPosition: 'left',
        verticalPosition: 'top',
      },
      {
        text: "Or so I hope. I'm <a href='https://christophercarrollsmith.com/'>Christopher Smith</a>, and I founded Promptly to build AI-powered software for small businesses and nonprofits.",
        backgroundImage: 'images/chris.jpg',
        altText: 'A cartoon of Christopher Smith with an intern and a dog',
        horizontalPosition: 'left',
        verticalPosition: 'bottom',
      },
    ] satisfies ComicPanelProps[]}
  />

  <Feature />

  <ThreePanelRow
    widthClass="xl:w-3/4"
    panels={[
      {
        text: "We recently launched <a href='https://scribert.com'>Scribert</a>, a subscription audio transcription app.",
        backgroundImage: 'images/podcaster.jpg',
        altText: 'Young Asian woman records a podcast in a studio',
        verticalPosition: 'top',
        horizontalPosition: 'left',
      },
      {
        text: "We also publish a free newsletter on how to use AI tools, <a href='https://knowledgeworkersguide.substack.com/'>A Knowledge Worker's Guide to the Singularity</a>.",
        backgroundImage: 'images/AIart.jpg',
        altText: 'An artist uses a futuristic paintbrush stylus on a digital device',
        horizontalPosition: 'right',
        verticalPosition: 'top',
      },
      {
        text: 'And we offer corporate trainings and educational seminars on AI workflows online and in person in the Albany, NY Capital Region.',
        backgroundImage: 'images/classroom.jpg',
        altText: 'A futuristic classroom with a teacher and students',
        verticalPosition: 'top',
      },
    ] satisfies ComicPanelProps[]}
  />

  <Events
    client:visible
    convertKitFormId={siteProperties.convertKitFormId}
    convertKitDataUid={siteProperties.convertKitDataUid}
  />

  <ThreePanelBlock
    widthClass="xl:w-3/4"
    orientation="left"
    panels={[
      {
        text: "At Promptly, we're working toward a future in which AI serves the cause of human thriving.",
        backgroundImage: 'images/greening.jpg',
        altText: 'Robot gazes up through the canopy of a forest',
        verticalPosition: 'top',
      },
      {
        text: 'This requires new business and training paradigms that give workers equity ownership of models that train on their work.',
        backgroundImage: 'images/opensource.jpg',
        altText: 'Plucky open-source developers collaborate together in a shared workspace',
        horizontalPosition: 'left',
        verticalPosition: 'bottom',
      },
      {
        text: "Contact us today to discuss how you can support this mission. Let's partner to empower small businesses and non-profits through AI!",
        backgroundImage: 'images/nonprofit.jpg',
        altText: 'A diverse team of nonprofit volunteers',
        verticalPosition: 'bottom',
      },
    ] satisfies ComicPanelProps[]}
  />
</section>
