@tailwind base;
@tailwind components;
@tailwind utilities;

.focusable:focus {
  @apply outline-none ring-2 ring-light-accent dark:ring-dark-accent ring-opacity-50;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply text-light-text bg-white dark:bg-black dark:text-dark-text antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

 body.loading * {
  transition: none !important;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @apply text-light-secondary dark:text-dark-secondary hover:text-light-secondary-hover dark:hover:text-dark-secondary-hover hover:underline
}

.nav-link svg {
  @apply text-light-nav-text dark:text-dark-nav-text hover:text-light-nav-hover dark:hover:text-dark-nav-hover;
}

.nav-link {
  @apply text-light-nav-text dark:text-dark-nav-text hover:text-light-nav-hover dark:hover:text-dark-nav-hover font-medium hover:underline;
}

p {
  @apply mb-4 text-base lg:text-lg;
}

h1 {
  @apply mb-4 text-4xl font-bold;
}

h2 {
  @apply mb-4 text-xl font-light;
}

h3 {
  @apply my-4 text-2xl font-bold
}

h2.nav-header {
  @apply mb-6 text-sm font-semibold uppercase;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}

.headercontainer {
  @apply mx-auto max-w-screen-sm text-center mb-4 lg:mb-12;
}

section {
  @apply py-6 px-4 lg:py-8 lg:px-6 mx-auto max-w-screen-xl text-center;
}

.sectioncontainer {
  @apply mx-auto max-w-screen-xl text-center py-8 px-4 lg:py-16 lg:px-6;
}

.contentcontainer {
  @apply flex justify-center rounded-xl mb-6 lg:mb-8;
}

.textcontainer {
  @apply w-full text-center;
}